/node_modules
/vendor
/public/hot
/public/storage
/storage/*.key
/storage/debugbar
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.git
.idea
.vscode
.DS_Store
